.first {
	background-color:yellow;
	height:50px;
	width:50px;
	transition-duratio:2s;
}

.colorChange {
	background-color:orange;
	height:50px;
	width:50px;
	transition-duration:2s;
}

.colorChange:hover {
	background-color:green;
	transition-duration:2s;
}

.sizeChange {
	background-color:red;
	height:50px;
        width:50px;
        transition-duratio:2s;
}

.sizeChange:hover {
	height:200px;
	width:200px;
	transition-duration:2s;
}

.locChange {
	background-color:blue;
        height:50px;
        width:50px;
	position:relative;
	left:0px;
        transition-duration:2s;
}

.locChange:hover {
	left:200px;
	transition-duration:2s;
}

opChange {
	background-color:black;
        height:50px;
        width:50px;
        opacity:100;
        transition-duration:2s;
}

.opChange:hover {
	opacity:0;
	transition-duration:2s;
}

.rotateChange {
	background-color:brown;
	height:50px;
	width:50px;
	transition-duration:2s;
}

.rotateChange:hover {
	transform:rotate(180deg);
	transition-duration:2s;
}

.view {
	height:50px;
	width:300px;
	perspective:160px;
}

.rotate3DChange {
	background-color:hotpink;
        height:50px;
        width:50px;
	transform:rotateT(0deg);
        transition-duration:2s;
}

.rotate3DChange:hover {
	transform:rotateY(-360deg);
	transition-duration:2s;
}


.parent {
	background-color:grey;
        height:300px;
        width:300px;
}

.child {
	background-color:blue;
	height:50px;
	width:50px;
	position:relative;
	top:100px;
	left:100px;
	transition-duration:2s;
}

.parent:hover > .child {
	top:0px;
	left:0px;
	transition-duration:2s;
}

.brother {
	background-color:lightblue;
	height:50px;
        width:50px;
}

.sister {
	background-color:pink;
        height:50px;
        width:50px;
	margin:0px;
	transition-duration:2s;
}

.brother:hover + .sister {
	margin-left: 20px;
	transition-duration:2s;
}

.last {
	background-color:purple;
        height:50px;
        width:50px;
}

.last:hove + .first {
	background-color:purple;
        height:50px;
        width:50px;
	transition-duration:2s;
}
